.MarkDown {
  * {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    line-height: 1.5;
  }

  h1 {
    color: #000;
    font-size: 52px;
    font-weight: 700;
  }

  h2 {
    color: #000;
    font-size: 32px;
    font-weight: 600;
  }

  h3 {
    color: #000;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 30px;
  }

  h4 {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14px;
  }

  h5 {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 14px;
  }

  strong {
    font-weight: 500;
  }

  p {
    margin: 20px 0;
    line-height: 1.8;
  }

  em {
  }

  a {
    color: #1573fe;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    background-color: #262626;
    margin-top: 16px;
    margin-bottom: 16px;
    list-style-type: disc;
    margin-bottom: 14px;
    margin-left: 160px;
    margin-right: 80px;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  ol {
    margin-bottom: 14px;
    background-color: #262626;
    list-style-type: decimal;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  li {
    margin-left: 24px;
  }
  pre {
    display: inline;
    padding: 8px !important;
    border-radius: 4px !important;
    background-color: #222;

    span {
      color: #000;
    }

    pre {
      display: block;
      padding: 16px !important;
      margin-top: 16px !important;
      margin-bottom: 16px !important;
    }
  }

  pre:has(pre) {
    padding: 0 !important;
    background-color: transparent;
  }

  code {
    display: inline;

    span {
      font-size: 18px !important;
      font-weight: 400 !important;
      display: inline;
      text-shadow: none;
      tab-size: 4;
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    }
  }

  img {
    display: block;
  }

  table {
    border: 1px solid #888;
    margin-bottom: 16px;
    th {
      padding: 8px 32px;
      border: 2px solid #6461df;
      background: #6461df;
      color: #000;
      font-weight: 500;
    }

    td {
      padding: 8px 32px;
      text-align: center;
      border: 1px solid #888;
    }
  }

  blockquote {
    margin-left: 160px;
    margin-right: 80px;
    padding: 24px;
    border-left: 4px solid #6461df;
    background-color: #262626;
    margin-bottom: 24px;
    * {
      margin-left: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
    }
    h5 {
      margin-left: 0;
      margin-bottom: 16px;
    }
    p {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}
