.Wrapper {
  width: 100vw;
}

.MainHeader {
  display: flex;
  padding: 30px 130px;
  flex-direction: column;
  align-items: center;
}

.Logo {
  cursor: pointer;
  font-weight: 900;
  line-height: 0.8;
  letter-spacing: -2px;
}

.Email {
  font-size: 12px;
  font-weight: 400;
}

.Tab {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 130px;
  align-items: center;

  .GnbList {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .TabButton {
      font-size: 15px;
      font-weight: 700;
      cursor: pointer;
    }
  }

  .SocialList {
    display: flex;
    justify-content: flex-end;

    .SocialButton {
      font-size: 12px;
      font-weight: 300;
      cursor: pointer;
    }
  }
}
