.Wrapper {
  width: 100vw;
  background-color: #121212;
  padding: 2px 0px;
}

.MainHeader {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.Logo {
  cursor: pointer;
  color: #c1c1bd;
  font-size: 143px;
  font-weight: 900;
  line-height: 0.8;
  letter-spacing: -2px;
}

.Title {
  color: #c1c1bd;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.Tab {
  display: flex;
  gap: 16px;
  margin-top: 10px;
  .TabButton {
    color: #c1c1bd;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
  }
}
