* {
  word-break: keep-all;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  font-family: "CustomFont", "NanumSquare Neo OTF";
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}

body {
  line-height: 1.8;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  th,
  tr,
  td {
    vertical-align: middle;
  }
}

button {
  border: none;
  background-color: transparent;
  letter-spacing: 1px;
}

input {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(191, 191, 191);
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

hr {
  width: 100%;
  height: 1px !important;
  background-color: #333;
  margin: 80px 0;
}
