.Wrapper {
  grid-column: span 2;
  grid-row: span 2;

  cursor: pointer;
  height: 100%;
  background-color: #c1c1bd;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    background-color: #000;

    * {
      color: #fff;
    }
  }

  transition: background-color 0.3s ease;
}

.CardText {
  .CardTitle {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    word-break: keep-all;
  }

  .CardDate {
    font-size: 12px;
    font-weight: 300;
  }
}

.CardFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.CardTag {
  font-size: 12px;
  font-weight: 300;
}
