.Wrapper {
  overflow: hidden;
  border: 1px solid #444;
  cursor: pointer;
  border-radius: 12px;
  width: calc((1920px - 32px - 48px) / 4);
  height: calc((1920px - 32px - 48px) / 4);

  @media (max-width: 1920px) {
    width: calc((100vw - 32px - 48px) / 4);
    height: calc((100vw - 32px - 48px) / 4);
  }

  @media (max-width: 1440px) {
    width: calc((100vw - 32px - 32px) / 3);
    height: calc((100vw - 32px - 32px) / 3);
  }

  @media (max-width: 1024px) {
    width: calc((100vw - 32px - 16px) / 2);
    height: calc((100vw - 32px - 16px) / 2);
  }
}

.Card {
  flex: 1;
  position: relative;

  .CardText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
    border-radius: 12px;
    padding: 16px;

    .CardTitle {
      span {
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        display: inline-block;
        min-width: 5px;
      }
    }

    .CardDate {
      span {
        font-size: 18px;
        font-weight: 400;
        color: #98989a;
        display: inline-block;
        min-width: 5px;
      }
    }

    .CardDescription {
      font-size: 20px;
      font-weight: 400;
      color: #98989a;
    }

    .CardButtonWrapper {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
      .CardButton {
        border: 1px solid #262626;
        border-radius: 12px;
        padding: 18px 24px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 400;
        flex: 1;

        color: #98989a;
        transition: all 0.15s ease;
        &:hover {
          border-color: #fff;
          color: #fff;
        }
      }

      .CardDate {
        font-size: 18px;
        font-weight: 400;
        color: #98989a;

        border: 1px solid #262626;
        border-radius: 100px;
        background-color: #1e1e1e;

        padding: 10px 16px;
      }
    }
  }
}
