.Wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.Header {
}

.Main {
  width: 1200px;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}
