.Wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  transition: background-color 0.5s ease;
  background-color: #fff;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.Main {
  width: 100%;
}
