.Wrapper {
  display: flex;
  flex-direction: column;
}

.Header {
  .TitleSection {
    display: flex;
    justify-content: space-between;

    .TitleWrapper {
      width: 70%;
      padding: 50px;
      padding-top: 240px;

      .Title {
        font-size: 6vw;
        line-height: 1;
        font-weight: 600;
      }
    }

    .ImageWrapper {
      padding-top: 50px;
    }
  }

  .ContentSection {
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;

    .Subtitle {
      font-size: 1.5vw;
      line-height: 1;
      font-weight: 500;
    }
  }
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;

  .MarkDownSection {
    width: 100%;
    max-width: 1400px;
  }
}
