.Wrapper {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  border-bottom: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 65px;
  width: 1920px;
  height: 400px;

  .Title {
    font-size: 64px;
    font-weight: 600;
  }
}

.Content {
  display: flex;
  width: 1920px;
  padding-bottom: 100px;

  .MarkDownWrapper {
    width: 70%;
    padding: 80px 0;

    border-right: 1px solid #333;
  }

  .TagWrapper {
    width: 30%;
  }
}

.ContentSection {
  padding: 80px;

  .CategoryTitle {
    font-size: 18px;
    color: #98989a;
    margin-bottom: 16px;
  }
  .CategoryList {
    background-color: #1e1e1e;
    padding: 20px;
    padding-left: 30px;
    border-radius: 12px;

    list-style: disc;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .Tag {
      font-size: 18px;
      color: #fff;
    }
  }
}

.InfoSection {
  padding: 80px;
  border-bottom: 1px solid #333;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .InfoRow {
    display: flex;
    gap: 20px;

    .InfoItem {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;

      .InfoTitle {
        font-size: 18px;
        color: #98989a;
      }
      .InfoValue {
        font-size: 18px;
        font-weight: 500;
      }

      .InfoList {
        display: flex;
        gap: 10px;
        align-items: center;

        li {
          font-size: 18px;
          font-weight: 500;
          padding: 8px 16px;
          border-radius: 12px;
          background-color: #1e1e1e;
          border: 1px solid #262626;
        }
      }
    }
  }
}
