.Wrapper {
  height: 200vh;
}

.SectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .SectionTitle {
    font-size: 55px;
    font-weight: 700;
  }

  .SectionButton {
    font-size: 20px;
    font-weight: 700;
    color: #000;
  }
}

.MainSection {
}

.PlaySection {
}

.TechSection {
}

.ProjectSection {
}
