.Wrapper {
}

.Title {
  padding: 130px 160px;

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #222;

  p {
    font-size: 80px;
    font-weight: 600;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    color: #98989a;
  }
}

.Main {
  display: flex;
  flex-direction: column;

  padding: 80px 160px;
  border-bottom: 1px solid #222;

  .MainContent {
    display: flex;
    align-items: center;
    gap: 80px;

    .MainContentText {
      display: flex;
      flex-direction: column;

      .MainContentTitle {
        font-size: 32px;
        font-weight: 600;
      }

      .MainContentDescription {
        font-size: 20px;
        font-weight: 400;
        color: #98989a;
        margin-top: 30px;
        margin-bottom: 50px;
      }

      .MainContentStatistic {
        display: flex;
        align-items: center;
        gap: 50px;

        .MainContentStatisticItem {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .MainContentStatisticItemKey {
            font-size: 18px;
            font-weight: 400;
            color: #98989a;
          }

          .MainContentStatisticItemValue {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }

      .MainContentButton {
        border: 1px solid #262626;
        border-radius: 10px;
        color: #98989a;

        margin-top: 50px;
        padding: 18px 24px;

        cursor: pointer;
        transition: all 0.15s ease;

        &:hover {
          border-color: #fff;
          color: #fff;
        }
      }
    }
  }
}

.ThreeCards {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 80px 160px;

  .Card {
    flex: 1;
    .CardText {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      .CardTitle {
        font-size: 20px;
        font-weight: 600;
      }

      .CardDescription {
        font-size: 20px;
        font-weight: 400;
        color: #98989a;
      }

      .CardButtonWrapper {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        .CardButton {
          border: 1px solid #262626;
          border-radius: 12px;
          padding: 18px 24px;
          cursor: pointer;
          font-size: 18px;
          font-weight: 400;
          flex: 1;

          color: #98989a;
          transition: all 0.15s ease;
          &:hover {
            border-color: #fff;
            color: #fff;
          }
        }

        .CardDate {
          font-size: 18px;
          font-weight: 400;
          color: #98989a;

          border: 1px solid #262626;
          border-radius: 100px;
          background-color: #1a1a1a;

          padding: 10px 16px;
        }
      }
    }
  }
}
