.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  padding: 130px 160px;

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #333;
  width: 1920px;
  p {
    font-size: 80px;
    font-weight: 600;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    color: #98989a;
  }
}

.Main {
  display: flex;
  flex-direction: column;

  padding: 80px 160px;
  border-bottom: 1px solid #333;

  .MainContent {
    display: flex;
    align-items: center;
    gap: 80px;

    .MainContentText {
      display: flex;
      flex-direction: column;

      .MainContentTitle {
        font-size: 32px;
        font-weight: 600;
      }

      .MainContentDescription {
        font-size: 20px;
        font-weight: 400;
        color: #98989a;
        margin-top: 30px;
        margin-bottom: 50px;
      }

      .MainContentStatistic {
        display: flex;
        align-items: center;
        gap: 50px;

        .MainContentStatisticItem {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .MainContentStatisticItemKey {
            font-size: 18px;
            font-weight: 400;
            color: #98989a;
          }

          .MainContentStatisticItemValue {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }

      .MainContentButton {
        border: 1px solid #262626;
        border-radius: 10px;
        color: #98989a;

        margin-top: 50px;
        padding: 18px 24px;

        cursor: pointer;
        transition: all 0.15s ease;

        &:hover {
          border-color: #fff;
          color: #fff;
        }
      }
    }
  }
}

.ThreeCards {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 80px 160px;
}

.Table {
  display: flex;
  flex-direction: column;

  .TableRow {
    border-top: 1px solid #333;
    padding: 60px 80px;

    display: flex;
    gap: 40px;

    .ItemContent {
      display: flex;
      width: 100%;

      .ItemContentText {
        .ItemContentDate {
          font-size: 18px;
          font-weight: 600;
          color: #98989a;
          margin-bottom: 24px;
        }
        .ItemContentTitle {
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 8px;
        }

        .ItemContentDescription {
          font-size: 16px;
          font-weight: 400;
          color: #98989a;
        }
      }

      .ButtonWrapper {
        margin-left: auto;
        padding-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        .ItemContentButton {
          border: 1px solid #262626;
          border-radius: 10px;
          color: #98989a;

          margin-top: 50px;
          padding: 18px 24px;

          cursor: pointer;
          transition: all 0.15s ease;

          &:hover {
            border-color: #fff;
            color: #fff;
          }
        }
      }
    }
  }
}

.Projects {
  background-color: #1a1a1a;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .ProjectsContent {
    width: 1920px;
    padding: 120px 160px;

    p {
      font-size: 58px;
      font-weight: 500;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 18px;
      font-weight: 400;
      color: #98989a;
    }
  }
}

.ProjectsList {
  display: flex;
  padding: 80px 160px;
}
